.container-conoceme{
    grid-area: presentation;
    display: flex;
    margin-top: 100px;
    background-color: rgb(242, 242, 242);
}


.conoceme-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 40px;
}

.conoceme-txt p {
    margin-top: 50px;
}

.boton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 90px;
  }

.boton:hover {
    background-color: #007bff7c;
}  

.conoceme-img .analisis {
    background-image: url('../../assets/img/inversion.jpg');
}

.conoceme-img .invesion {
    background-image: url('../../assets/img/inversion.jpg');
}

.conoceme-img .educacion {
    background-image: url('../../assets/img/inversion.jpg');
}

.conoceme-img .asesoria {
    background-image: url('../../assets/img/inversion.jpg');
}


